{%extends "layout.html"%}
{%block content%}

<h2 class="article-title">Kindly select a picture that has most weed</h2>
<form method="POST" action="" >
    {{form.hidden_tag()}}  
    <div class="row content-section">
        <div class="row">
            <div class="column">
                <div class="custom-control custom-radio image-checkbox">
                    <input type="radio" class="custom-control-input" id="ck2a" value="{{image_file[0]}}" name="image_file">
                    <label class="custom-control-label" for="ck2a">
                        <img src="{{url_for('static', filename='new_weed_images/'+ image_file[0].name)}}" alt="#" class="img-fluid">
                    </label>
                </div>
            </div>        
            <div class="column">
                <div class="custom-control custom-radio image-checkbox">
                    <input type="radio" class="custom-control-input" id="ck2b" value="{{image_file[1]}}" name="image_file">
                    <label class="custom-control-label" for="ck2b">
                        <img src="{{url_for('static', filename='new_weed_images/'+ image_file[1].name)}}" alt="#" class="img-fluid">
                    </label>
                </div>
            </div>             
        </div>
        <div class=' mt-3 form-group btn btn-outline-info'>
            <input type="submit">
        </div>
    </div>
 
     
</form>
<p>{{image_file[0]}},{{image_file[1]}}</p>
{%endblock content%}
